<html>
	<head>
		{{>head_includes}}
	</head>
	<body>
		{{>navigation}}

		{{>headline}}
		<div class="container">
			<div class="row">
				{{{body}}}
			</div>
		</div>

		{{>jsincludes}}
	</body>
	
</html>